{erl_opts, [
            debug_info, 
            {parse_transform, lager_transform},
            {i, "include"}
           ]}.

{deps, [
    {ejson,       ".*",    {git, "https://github.com/benoitc/ejson.git", "master"}},
    {gproc,       ".*",    {git, "git://github.com/RJ/gproc.git", "master"}},
    {cowboy,      ".*",    {git, "https://github.com/extend/cowboy.git", "master"}},
    {lager,       ".*",    {git, "https://github.com/basho/lager.git", "master"}}
]}.
